<!-- webui/templates/edit_config.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Config - tookie-osint OSINT Web-UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/configstyles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Edit tookie-osint Configuration File</h1>
        
        <form method="post" action="{{ url_for('edit_config') }}">
        {% for section, options in config.items() %}
            <h2>{{ section }}</h2>
            {% for option, value in options.items() %}
                <label for="{{ section }}_{{ option }}">{{ option }}:</label>
                <input type="text" id="{{ section }}_{{ option }}" name="{{ section }}_{{ option }}" value="{{ value }}">
                <br>
            {% endfor %}
        {% endfor %}
        <button type="submit">Save Changes</button>
       </form>
    </div>
</body>
</html>
