<!-- webui/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfred OSINT Web-UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        // Function to toggle dark mode
        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
        }
    </script>
</head>
<body>
    <button onclick="toggleDarkMode()">Toggle Dark Mode</button>
    <h1>Alfred OSINT Web-UI</h1>
    <form method="post" id="myForm" onsubmit="return runProgress(event)">
        <label for="text_input1">Target:</label>
        <input type="text" id="text_input1" name="text_input1">
        <label for="text_input2">Options:</label>
        <input type="text" id="text_input2" name="text_input2">
        <button type="submit">Run</button>
    </form>

    <div id="progress-container" style="display:none;">
        <p>Processing... Please Wait...</p>
        <progress id="progress-bar" max="100"></progress>
    </div>

    <div id="result-container" style="display:none;">
        <h2>Results:</h2>
        <p id="result-text"></p>
    </div>
    <script>
        async function runProgress(event) {
            event.preventDefault(); // Prevent the default form submission behavior
            const formData = new FormData(document.getElementById('myForm'));
            document.getElementById("progress-container").style.display = "block";
            document.getElementById("result-container").style.display = "none";
            
            try {
                const response = await fetch("/", {
                    method: 'POST',
                    body: formData,
                });
                const resultData = await response.json(); // Assumes the server returns JSON
            
                if(response.ok) {
                    console.log("Result: ", resultData);
                    document.getElementById("result-text").innerText = resultData.result;
                    document.getElementById("result-container").style.display = "block";
                } else {
                    console.error("Error from server", resultData);
                }
            } catch (error) {
                console.error("Failed to fetch", error);
            }
            document.getElementById("progress-container").style.display = "none";
        }
    </script>

</body>
</html>