body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
    color: #000000; /* Set the default text color to black */
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

h1, h1.dark-mode {
    color: #333;
}

body.dark-mode h1 {
    color: #f0f0f0; /* Adjust the color for dark mode */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode form {
    background-color: #f3f3e7; /* Adjust the color for dark mode */
}

label {
    display: block;
    margin-bottom: 8px;
}

body.dark-mode label {
    color: #333; /* Adjust the color for dark mode */
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button, button.dark-mode {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, button:hover.dark-mode {
    background-color: #45a049;
}

button.dark-mode:hover {
    background-color: #bf3434;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #ffffff; /* Set your desired table background color */
    border-radius: 10px; /* Set the border-radius for rounded edges */
    overflow: hidden; /* Clip the rounded corners */
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    color: inherit; /* Inherit the color from the parent element */
}


body.dark-mode th,
body.dark-mode td {
    color: #333; /* Set the text color to black in dark mode */
}



.contributors-container {
    display: flex;
    flex-wrap: wrap;  /* Allow cards to wrap to the next line */
    justify-content: space-between;  /* Add space between cards */
}

.contributor-card {
    width: calc(10.3333% - 10px);  /* Set width for three cards per row with margin */
    margin-bottom: 10px;  /* Add margin between rows */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9; /* Set background color for the card */
}

.contributor-image {
    width: 100%;  /* Make the image fill the width of the card */
    height: auto;  /* Maintain aspect ratio */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.contributor-details {
    padding: 5px;
}

/* Style the links */
.contributor-details a {
    color: #007bff;  /* Set link color to blue */
    text-decoration: none;  /* Remove underlines from links */
}

.contributor-details a:hover {
    text-decoration: underline;  /* Underline links on hover */
}

.contributor-details p {
    color: #333;  /* Set text color for paragraphs */
}