:root {
    --color-bg-light: #f5f5f5;
    --color-bg-dark: #121212;
    --color-bg2-light: #f0f0f0;
    --color-bg2-dark: #444444;

    --color-text-light: #000000;
    --color-text-dark: #ffffff;

    --color-primary: #4caf50;
    --color-primary-hover: #45a049;

    --color-primary-dark: #760e9c;
    --color-primary-dark-hover: #44045c;

    --color-card-bg-light: #f9f9f9;
    --color-card-bg-dark: #888888;

    --color-link: #007bff;
    --color-border: #dddddd;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
    color: #000000;
}

body.dark-mode {
    background-color: var(--color-bg-dark);
    color: #fff;
}

.panel {
    background-color: var(--color-text-dark);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

body.dark-mode .panel {
    background-color: var(--color-bg2-dark);
}

.main-container {
    display: flex;
    gap: 40px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.right-panel {
    width: 60%;
    min-height: 600px;
    max-height: 600px;
    margin: 0 auto; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    /*align-items: stretch;*/
}

.contributors-panel {
    height: 350px; 
    overflow: hidden;
}

.scrollable-list {
    overflow-y: auto;
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 5px;
}

h1 h2 p {
    color: var(--color-bg-dark);
}

body.dark-mode h1 h2 p {
    color: var(--color-bg2-light)
}

form {
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--color-bg2-dark);
}

body.dark-mode label {
    color: var(--color-bg2-light); 
}

.text_input {
    background-color: var(--color-card-bg-light);
    border-width: 0;
    border-radius: 5px;
}

body.dark-mode .text_input {
    background-color: var(--color-card-bg-dark);
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}

button:hover {
    background-color: var(--color-primary-hover);
}

body.dark-mode button {
    background-color: var(--color-primary-dark);
}

body.dark-mode button:hover {
    background-color: var(--color-primary-dark-hover);
}

table {
    width: 100%;
    /*table-layout: auto;  */  
    background-color: var(--color-card-bg-light);
    border-radius: 25px;
    overflow: hidden;
    border-collapse: collapse; 
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    color: inherit;
    
}

body.dark-mode th,
body.dark-mode td {
    color: #333;
}


#progress-container,
#result-container {
    display: none;
}

#result-list {
    width: 100%;
}

/* Contributor styling */
.contributors-container .contributor-card {
    width: 100px;
    background: var(--color-card-bg-light);
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    font-size: 0.85em;
}

body.dark-mode .contributor-card {
    background: var(--color-card-bg-dark);
}

.contributor-image {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.contributor-details {
    padding: 5px;
}

.contributor-details p {
    margin: 0;
    font-size: 0.75em;
}

.contributor-details a {
    color: var(--color-link); 
    text-decoration: none;
    font-size: 0.75em;
}

.contributor-details a:hover {
    text-decoration: underline;
}

.contributors-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: var(--color-text-light);
}
